@use "variables" as var;
@use "mixins";

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: var.$font;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  background: var.$popup-color;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: var.$secondary-color;
  }

  &__menu-bar {
    font-size: 4rem;
    background: var.$popup-color;
    color: var.$secondary-color;
    border-radius: 0.3rem;
    cursor: pointer;

    @include mixins.for-size(tablet) {
      display: none;
    }
    @include mixins.for-size(laptop) {
      display: none;
    }
    @include mixins.for-size(desktop) {
      display: none;
    }
  }

  &__icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .links {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {
      font-size: 1.6rem;
      &:hover {
        color: var.$icon-hover;
      }
    }
  }

  &__navbar {
    display: none;

    @include mixins.for-size(tablet) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: 60px;
    }
    @include mixins.for-size(laptop) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: 100px;
    }
    @include mixins.for-size(desktop) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: 200px;
    }

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      background: var.$popup-color;
      width: 100%;
      padding: 1rem;
      box-shadow: 0 0.5rem 1rem #0000001a;
      z-index: 999;
    }
  }
}
